/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

img {
    width: 4rem;
    height: auto;
    border-radius: 50%;
    margin: 0.5rem;
}

/* flex container */
.container {
    display: flex;
    align-items: stretch;
    width: 90%;
    height: calc(100vh - 4rem);
    margin: 2rem auto;
    font-size: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #e9ebeb;
    border-right: 1px solid #dadada;
}

.user, .single-contact {
    display: flex;
    align-items: center;
}

.contacts {
    width: 40%;
    height: 100%;
}

.notifications {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #8edafc;
    height: 5rem;
}

.notifications a {
    display: block;
    color: #52788a;
}

.silent-mode {
    background-color: white;
    padding: 0.5rem;
    color: #8edafc;
    border-radius: 50%;
    font-size: 1.5rem;
    margin: 0 0.5rem 0 1rem;
}

.searchbar {
    background-color: #fafafa;
    height: 5rem;
    position: relative;
}

.searchbar input {
    height: 90%;
    width: 95%;
    margin: 0.25rem 0.9rem;
    border: none;
    padding-left: 5rem;
}

.searchbar input:focus-visible {
    border: 3px solid blueviolet;
}

.searchbar input::placeholder {
    color: #dddede;
    font-size: 1.2rem;
}

.search-lens {
    position: absolute;
    color: #dddede;
    font-size: 2rem;
    top: 1.5rem;
    left: 3rem;
}

.contacts-container {
    max-height: calc(100% - 15rem);
    overflow: auto;
}

.single-contact {
    background-color: #ffffff;
    border: 1px solid #e9ebeb;
}

.selected {
    background-color: #e9ebeb;
}

.messages {
    width: 60%;
    height: 100%;
    /* debugging rules */
    background-color: cadetblue;
}

.chat {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #e9ebeb;
    border-left: 1px solid #dadada;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.latest-access {
    display: block;
    font-size: 0.8rem;
    margin-top: 0.6rem;
}

.outer-container {
    height: calc(100% - 10rem);
}

.msg-container {
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.msg {
    border-radius: 10px;
    padding: 1rem 1rem 0.2rem 1rem;
    min-width: 35%;
    margin: 1rem;
}

.msg-date {
    display: block;
    text-align: right;
    color: #b8bbbd;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.received {
    background-color: white;
}

.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.msg-textarea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    background-color: #f3eeea;
}

textarea {
    width: 85%;
    height: 80%;
    border: none;
    border-radius: 10px;
    padding: 1.2rem 1rem;
}

textarea:focus-visible {
    border: 3px solid blueviolet;
}

textarea::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #828282;
    font-size: 1.2rem;
}

.msg-icon {
    font-size: 1.5rem;
    margin: 0 1rem;
}