/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

img {
    width: 4rem;
    height: auto;
    border-radius: 50%;
    margin: 0.5rem;
}

/* flex container */
.container {
    display: flex;
    align-items: stretch;
    width: 90%;
    height: calc(100vh - 4rem);
    margin: 2rem auto;
    font-size: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #e9ebeb;
    border-right: 1px solid #dadada;
}

.user, .single-contact {
    display: flex;
    align-items: center;
}

.contacts {
    width: 40%;
    /* debugging rules */
    background-color: aquamarine;
}

.messages {
    width: 60%;
    /* debugging rules */
    background-color: cadetblue;
}

.chat {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #e9ebeb;
    border-left: 1px solid #dadada;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.msg-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.msg {
    border-radius: 10px;
    padding: 1rem;
    width: fit-content;
    margin: 1rem;
}

.received {
    background-color: white;
}

.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}